.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background: #4f46e5;
  color: white;
}

.navbar h1 {
  cursor: pointer;
  font-size: 20px;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.navbar li {
  cursor: pointer;
  font-weight: 500;
}

.navbar li:hover {
  text-decoration: underline;
}
